/* боди #FFFFFF */
/* цвет основного текста #757575 */
/* цвет фона приветствия и футер #2F303A */
/* хедер #FFFFFF */
/* цвет  заголовков #212121 */
/* logo #2196F3  #000000 */
/* акцент #2196F3 */
/* почта и телефон rgba(255, 255, 255, 0.6) */
/* адрес и приветствие #FFFFFF */
/* команда фон #F5F4FA */
/* ___________________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --head-foot-bgcolor: #2f303a;
  --btn-prime-color: #ffffff;
  --btn-second-color: #f5f4fa;
  --greeting-words-color: #ffffff;
}

.body-page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
.container {
  width: 1600px;
  height: 80px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 215px;
}
.cont-site {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.contacts {
  display: flex;
  justify-content: space-around;
  margin-right: 215px;
}
.link {
  margin: 50px;
}

/* логотип */
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}
.logo:focus,
.logo:hover {
  color: var(--accent-color);
}
.logostyle {
  color: #2196f3;
}
.logostyle:hover,
.logostyle:focus {
  color: #000000;
}
/* навигация */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* контакты */

.contacts-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin: 0px 50px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Приветствие */
.greeting {
  background-color: var(--head-foot-bgcolor);
  width: 1600px;
  padding: 15px;
}
.greet-box {
  background-color: var(--head-foot-bgcolor);
  color: var(--btn-prime-color);
  display: block;
  margin: 0px auto;
}
.greeting-title {
  background-color: var(--head-foot-bgcolor);
  color: var(--greeting-words-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 200px 0;
}
.primary.button {
  color: #ffffff;
  background-color: #2196f3;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-left: 0px auto;
  margin-right: 0px auto;
}
/* Список преимуществ */

.features-list .features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* чем заняты */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Команда молодости нашей */
.body-page .profile-list {
  background-color: #f5f4fa;
}
.profile h3 {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profile p {
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */
.footer-section {
  background-color: var(--head-foot-bgcolor);
}
.foot-logo {
  color: #ffffff;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}
.footstyle {
  color: #2196f3;
}
.address-text {
  color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-section .foot-link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
}
.footer-section .foot-link:hover,
.footer-section .foot-link:focus {
  color: var(--accent-color);
}
/* Страница портфолио */
/* контент main */
.filter .btn.primary {
  background-color: var(--accent-color);
  color: var(--btn-prime-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter .btn.second {
  background-color: var(--btn-second-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter .btn.second:focus,
.filter .btn.primary:focus {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
}
.filter .btn.second:hover,
.filter .btn.primary:hover {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
}
.work-list .item-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list .item {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
